fastapi
uvicorn[standard]
python-dotenv
requests
psycopg2-binary

# Auth dependencies
passlib[bcrypt]
python-jose[cryptography]
email-validator

# Vision Model Dependencies
torch
torchvision
transformers
accelerate
pillow
python-multipart
